*,
::before,
::after {
    box-sizing: inherit;
}

.mui-152agi9 {}

.mui-1vb5z3z {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: var(--mui-shadows-0);
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    z-index: var(--mui-zIndex-appBar);
    top: 0px;
    left: auto;
    right: 0px;
    color: inherit;
    background-image: none;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 60px;
    background-color: rgb(255, 255, 255);
}

.mui-1ekb41w {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.mui-85cndy {
    --Grid-columns: 12;
    --Grid-columnSpacing: 0px;
    --Grid-rowSpacing: 0px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-align: center;
    align-items: center;
}

.mui-124fws5 {
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-xx6fcg {
    --Grid-columnsLevel1: var(--Grid-columns);
    --Grid-columnSpacingLevel1: 24px;
    --Grid-rowSpacingLevel1: 24px;
    flex-flow: row;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacingLevel1) / -2) calc(var(--Grid-columnSpacingLevel1) / -2);
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
    -webkit-box-align: center;
    align-items: center;
}

.mui-1gszo8s {
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacingLevel1) / 2) calc(var(--Grid-columnSpacingLevel1) / 2);
}

.mui-rj9owb {
    margin: 0px;
    font: inherit;
    color: var(--mui-palette-primary-main);
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: rgba(var(--mui-palette-primary-mainChannel) / 0.4);
}

.mui-rj9owb:hover {
    text-decoration-color: inherit;
}

.mui-15i7lu7 {
    margin: 0px;
    font: inherit;
    color: rgb(129, 129, 129);
    text-decoration: none;
}

.mui-15i7lu7:hover {
    text-decoration-color: inherit;
}

.mui-1hoyqw5 {
    flex-basis: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-1xirpp {
    --Grid-columnsLevel1: var(--Grid-columns);
    --Grid-columnSpacingLevel1: 16px;
    --Grid-rowSpacingLevel1: 16px;
    flex-flow: row;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacingLevel1) / -2) calc(var(--Grid-columnSpacingLevel1) / -2);
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-1m26cub {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    box-shadow: none;
    color: rgb(250, 250, 250);
    font-weight: 700;
    text-transform: none;
    background-color: rgb(167, 115, 254);
}

.mui-1m26cub:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-1m26cub:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-1m26cub:active {
    box-shadow: none;
}

.mui-1m26cub:hover {
    background-color: rgb(123, 70, 223);
}

.mui-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.mui-1u9h33y {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: var(--mui-palette-primary-main);
    border-radius: 8px;
    box-shadow: none;
    color: rgb(250, 250, 250);
    font-weight: 700;
    text-transform: none;
}

.mui-1u9h33y:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-1u9h33y:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-1u9h33y:active {
    box-shadow: none;
}

.mui-1459dl {
    padding-top: 24px;
    padding-bottom: 24px;
}

.mui-ib9iq6 {
    margin-top: 80px;
}

.mui-u9ncm0 {
    display: flex;
}

.mui-1wz6flv {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mui-ainay9 {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-size: 3rem;
    line-height: 1.167;
    color: rgb(16, 15, 97);
    font-weight: 700;
}

strong,
b {
    font-weight: 700;
}

.mui-nulyus {
    color: rgb(90, 24, 215);
}

.mui-13etf96 {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(129, 129, 129);
}

.mui-11um2kn {
    color: rgb(16, 15, 97);
}

.mui-5vb4lz {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mui-v3ljsi {
    --Grid-columns: 12;
    --Grid-columnSpacing: 16px;
    --Grid-rowSpacing: 16px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-align: center;
    align-items: center;
    padding-top: 2px;
    padding-left: 20px;
}

.mui-1h0rs5z {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 1 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-1m5n09e {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 11 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-6w8yb6 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: rgb(129, 129, 129);
}

.mui-1p3gcvk {
    margin-top: 40px;
    display: flex;
}

.mui-1at62qq {
    margin-left: 16px;
    margin-right: 16px;
}

.mui-1kjy5dn {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    border-radius: 8px;
    box-shadow: none;
    font-weight: 700;
    text-transform: none;
    background-color: rgb(167, 115, 254);
    font-size: 1.1rem;
    border: none;
}

.mui-1kjy5dn:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-1kjy5dn:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-1kjy5dn:active {
    box-shadow: none;
}

.mui-1kjy5dn:hover {
    background-color: rgb(123, 70, 223);
    border: none;
}

.mui-1l9q2uy {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    background-color: var(--mui-palette-primary-main);
    border-radius: 8px;
    box-shadow: none;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: none;
}

.mui-1l9q2uy:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-1l9q2uy:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-1l9q2uy:active {
    box-shadow: none;
}

.mui-1l9q2uy:hover {
    box-shadow: none;
}

.mui-h3eqc7 {
    min-width: 570px;
}

.mui-1fcx95e {
    padding: 16px 40px 40px;
    background-color: var(--mui-palette-background-default);
}

.mui-da0opz {
    margin: 24px auto;
}

.mui-psqtx {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.57;
    color: rgb(16, 15, 97);
    text-align: center;
    font-weight: 700;
    letter-spacing: 4px;
}

.mui-7t3oco {
    margin: 0px 15%;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: var(--mui-palette-divider);
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
}

.mui-vqwd1x {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.mui-19midj6 {
    padding: 16px;
}

.mui-1qsxih2 {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.mui-130jr3z {
    padding-top: 80px;
}

.mui-1st9khg {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    color: rgb(16, 15, 97);
    text-align: center;
}

.mui-kin4td {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}

.mui-5d75os {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 400px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.mui-1b9rfpx {
    height: 250px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.mui-u2y8vh {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
}

.mui-1nxule9 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: rgb(129, 129, 129);
}

.mui-1c0cfyw {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.mui-m20061 {
    padding-top: 120px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.mui-1dj7mtz {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    color: rgb(16, 15, 97);
    text-align: center;
}

.mui-og1efs {
    padding: 32px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.mui-1tfodct {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(129, 129, 129);
    line-height: 170%;
}

.mui-zphvk8 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: var(--mui-palette-background-default);
    padding: 24px 8px;
    margin-top: 80px;
    flex-wrap: nowrap;
}

.mui-1njk3tk {
    position: relative;
    overflow: hidden;
    min-width: 280px;
}

.mui-1f8sh1y {
    position: relative;
    width: 100%;
    height: 100%;
}

.mui-1l7c0cy {
    position: absolute;
    height: 100%;
    width: 100%;
}

.mui-1pobs7p {
    background-color: var(--mui-palette-background-paper);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.03) 4px 4px 8px;
    border-radius: 9px;
    width: 280px;
    height: 400px;
    position: relative;
}

.mui-gwqr23 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    height: 100px;
    width: 100px;
    margin-bottom: 8px;
}

.mui-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.mui-gp9k5x {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.mui-1ti53ow {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-style: italic;
    text-align: justify;
}

.mui-dvxtzn {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.mui-d5yxx9 {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.mui-1abc02a {
    position: absolute;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    top: 0px;
    right: 0px;
}

.mui-1abc02a:hover button {
    background-color: black;
    filter: brightness(120%);
    opacity: 0.4;
}

.mui-14m19i9 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    margin: 0px 10px;
    position: relative;
    background-color: rgb(73, 73, 73);
    color: white;
    font-size: 30px;
    transition: all 200ms ease 0s;
    cursor: pointer;
    opacity: 0;
    top: calc(50% - 20px) !important;
}

.mui-14m19i9:hover {
    background-color: rgba(var(--mui-palette-action-activeChannel) / var(--mui-palette-action-hoverOpacity));
}

.mui-14m19i9:hover {
    opacity: 0.6 !important;
}

.mui-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.mui-hn784z {
    position: absolute;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.mui-hn784z:hover button {
    background-color: black;
    filter: brightness(120%);
    opacity: 0.4;
}

.mui-1m9128y {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.mui-16lgroa {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    border-radius: 50%;
    overflow: visible;
    cursor: pointer;
    transition: all 200ms ease 0s;
    padding: 0px;
    color: rgb(175, 175, 175);
}

.mui-16lgroa:hover {
    background-color: rgba(var(--mui-palette-action-activeChannel) / var(--mui-palette-action-hoverOpacity));
}

.mui-16lgroa:hover {
    color: rgb(31, 31, 31);
}

.mui-16lgroa:active {
    color: rgb(31, 31, 31);
}

.mui-d4n4tp {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 15px;
}

.mui-17qepj0 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    border-radius: 50%;
    overflow: visible;
    cursor: pointer;
    transition: all 200ms ease 0s;
    padding: 0px;
    color: rgb(73, 73, 73);
}

.mui-17qepj0:hover {
    background-color: rgba(var(--mui-palette-action-activeChannel) / var(--mui-palette-action-hoverOpacity));
}

.mui-17qepj0:hover {
    color: rgb(73, 73, 73);
}

.mui-17qepj0:active {
    color: rgb(73, 73, 73);
}

.mui-17973yi {
    padding: 80px 16px 40px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.mui-1u552ct {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    color: rgb(16, 15, 97);
    padding-bottom: 30px;
    text-align: center;
}

.mui-mdpfwa {
    display: inline-flex;
    border-radius: var(--mui-shape-borderRadius);
}

.mui-mdpfwa .MuiToggleButtonGroup-firstButton,
.mui-mdpfwa .MuiToggleButtonGroup-middleButton {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mui-8rspzv {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 40px 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.75;
    padding: 11px;
    border: 1px solid var(--mui-palette-divider);
    color: rgb(108, 101, 135);
    text-transform: none;
    font-size: 1.1rem;
    box-shadow: none;
    border-radius: 10px;
}

.mui-8rspzv:hover {
    text-decoration: none;
    background-color: rgba(var(--mui-palette-text-primaryChannel) / var(--mui-palette-action-hoverOpacity));
}

.mui-8rspzv.Mui-selected {
    color: var(--mui-palette-text-primary);
    background-color: rgba(var(--mui-palette-text-primaryChannel) / var(--mui-palette-action-selectedOpacity));
}

.mui-8rspzv.Mui-selected:hover {
    background-color: rgba(var(--mui-palette-text-primaryChannel) / calc(var(--mui-palette-action-selectedOpacity) + var(--mui-palette-action-hoverOpacity)));
}

.mui-8rspzv.Mui-selected {
    color: white;
    font-weight: 700;
    background-color: rgb(131, 185, 192);
}

.mui-8rspzv.Mui-selected:hover {
    background-color: rgb(131, 185, 192);
}

.mui-8rspzv:hover {
    color: white;
    background-color: rgb(168, 204, 207);
}

.mui-mdpfwa .MuiToggleButtonGroup-lastButton,
.mui-mdpfwa .MuiToggleButtonGroup-middleButton {
    margin-left: -1px;
    border-left: 1px solid transparent;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.mui-1kzgsd1 {
    padding: 64px 32px;
    display: flex;
    flex-direction: column;
}

.mui-wuzyv {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    text-align: left;
    color: rgb(129, 129, 129);
}

.mui-ownv45 {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: var(--mui-palette-primary-main);
    text-align: left;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: rgba(var(--mui-palette-primary-mainChannel) / 0.4);
}

.mui-ownv45:hover {
    text-decoration-color: inherit;
}

.mui-bw52vx {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    background-color: var(--mui-palette-primary-main);
    border-radius: 8px;
    text-transform: none;
    box-shadow: none;
    font-weight: 700;
    font-size: 1.1rem;
}

.mui-bw52vx:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-bw52vx:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-bw52vx:active {
    box-shadow: none;
}

.mui-bw52vx:hover {
    box-shadow: none;
}

.mui-jhpiyy {
    padding: 80px 40px 40px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.mui-14rk56i {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    color: rgb(16, 15, 97);
    text-align: center;
    padding-bottom: 30px;
}

.mui-1y7ex7n {
    overflow: hidden;
    min-height: 48px;
    display: flex;
    font-weight: bold;
    width: 100%;
}

.mui-18jpbi7 {
    position: relative;
    display: inline-block;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow-x: hidden;
    width: 100%;
}

.mui-7sga7m {
    display: flex;
}

.mui-1q5c5id {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.25;
    max-width: none;
    position: relative;
    min-height: 48px;
    flex: 1 1 0px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    flex-direction: column;
    color: var(--mui-palette-text-secondary);
    -webkit-box-flex: 1;
    text-transform: none;
    min-width: 0px;
    font-size: 16px;
    padding: 8px;
    letter-spacing: 0.2em;
}

.mui-1q5c5id.Mui-selected {
    color: var(--mui-palette-primary-main);
}

.mui-1q5c5id.Mui-selected {
    font-weight: bold;
}

.mui-vqkcvs {
    position: absolute;
    bottom: 0px;
    width: 100%;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: var(--mui-palette-primary-main);
    height: 2px;
    border-radius: 7px;
}

.mui-14c1bos {
    margin: -2px 0px 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: var(--mui-palette-divider);
    width: 100%;
    height: 2px;
    border-radius: 5px;
}

.mui-1l4w6pd {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.mui-1qryofl {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: rgb(129, 129, 129);
    text-align: center;
}

.mui-1yuhvjn {
    margin-top: 16px;
}

.mui-3thk76 {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 80px;
}

.mui-1vmhh01 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.mui-1ebprri {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mui-1mfn5mn {
    height: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 4px 4px 8px;
    border-radius: 9px;
    width: 350px;
}

.mui-n085mf {
    padding-left: 16px;
}

.mui-170ssnn {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
}

.mui-1xx2ofw {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
}

.mui-90nejt {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.mui-11bdqlm {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(129, 129, 129);
    text-align: center;
}

.mui-yg2p1p {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.mui-ha489 {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: var(--mui-palette-primary-main);
    border-radius: 8px;
    box-shadow: none;
    color: rgb(250, 250, 250);
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: none;
}

.mui-ha489:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-ha489:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-ha489:active {
    box-shadow: none;
}

.mui-ha489:hover {
    box-shadow: none;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

.mui-zitybv {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mui-pni29q {
    --Grid-columns: 12;
    --Grid-columnSpacing: 32px;
    --Grid-rowSpacing: 32px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.mui-1yioz45 {
    filter: grayscale(0.9);
}

.mui-1yioz45:hover {
    filter: grayscale(0);
}

.mui-1fnny7k {
    height: auto;
    filter: grayscale(0.9);
}

.mui-1fnny7k:hover {
    filter: grayscale(0);
}

.mui-z727b5 {
    margin-top: 64px;
    margin-bottom: 64px;
}

.mui-1622xwg {
    min-height: 900px;
    /* background-image: url("/_next/static/media/background-rectangle.88bf77b6.svg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.mui-1m6pqln {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.mui-9dcjpw {
    --Grid-columns: 12;
    --Grid-columnSpacing: 16px;
    --Grid-rowSpacing: 16px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    padding-top: 15vh;
}

.mui-ipi2ni {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 12 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-zgzbkc {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    color: var(--mui-palette-background-default);
}

.mui-18uc1po {
    --Grid-columnsLevel1: var(--Grid-columns);
    --Grid-columnSpacingLevel1: var(--Grid-columnSpacing);
    --Grid-rowSpacingLevel1: var(--Grid-rowSpacing);
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacingLevel1) / -2) calc(var(--Grid-columnSpacingLevel1) / -2);
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-w924zx {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 6 / var(--Grid-columnsLevel1));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacingLevel1) / 2) calc(var(--Grid-columnSpacingLevel1) / 2);
}

.mui-unt0mw {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
    border-radius: 8px;
    background-color: rgb(250, 250, 250);
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mui-1udu1ut {
    color: var(--mui-palette-text-secondary);
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(12px, 16px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;
}

.mui-xfbahv {
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    color: var(--mui-palette-text-primary);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: var(--mui-palette-FilledInput-bg);
    border-top-left-radius: var(--mui-shape-borderRadius);
    border-top-right-radius: var(--mui-shape-borderRadius);
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.mui-xfbahv:hover {
    background-color: var(--mui-palette-FilledInput-hoverBg);
}

.mui-a3ekd5 {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 25px 12px 8px;
}

.mui-a3ekd5:focus {
    outline: 0px;
}

.mui-a3ekd5:invalid {
    box-shadow: none;
}

.mui-1qiq4rk {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 12 / var(--Grid-columnsLevel1));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacingLevel1) / 2) calc(var(--Grid-columnSpacingLevel1) / 2);
}

.mui-2plirp {
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    color: var(--mui-palette-text-primary);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: var(--mui-palette-FilledInput-bg);
    border-top-left-radius: var(--mui-shape-borderRadius);
    border-top-right-radius: var(--mui-shape-borderRadius);
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    padding: 25px 12px 8px;
}

.mui-2plirp:hover {
    background-color: var(--mui-palette-FilledInput-hoverBg);
}

.mui-1vwtfsp {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: auto;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    resize: none;
    padding: 0px;
}

.mui-1vwtfsp:focus {
    outline: 0px;
}

.mui-11iqnnm {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: -8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.mui-1lm5rby {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    padding: 9px;
    border-radius: 50%;
    color: var(--mui-palette-text-secondary);
}

.mui-1lm5rby:hover {
    background-color: transparent;
}

.mui-1m9pwf3 {
    cursor: inherit;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.mui-xmqz8d {
    border-radius: 3px;
    width: 20px;
    height: 20px;
    box-shadow: rgba(16, 22, 26, 0.2) 0px 0px 0px 1px inset, rgba(16, 22, 26, 0.1) 0px -1px 0px inset;
    background-color: rgb(245, 248, 250);
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

input:hover~.mui-xmqz8d {
    background-color: rgb(235, 241, 245);
}

.mui-1tnj6rj {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.75;
    font-size: 0.8rem;
    color: var(--mui-palette-background-default);
}

.mui-1ybqtnk {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 12 / var(--Grid-columnsLevel1));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacingLevel1) / 2) calc(var(--Grid-columnSpacingLevel1) / 2);
    text-align: right;
}

.mui-x0xz1e {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    background-color: var(--mui-palette-primary-main);
    border-radius: 8px;
    text-transform: none;
    box-shadow: none;
    font-weight: 700;
}

.mui-x0xz1e:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-x0xz1e:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-x0xz1e:active {
    box-shadow: none;
}

.mui-8atqhb {
    width: 100%;
}

.mui-oqml47 {
    --Grid-columns: 12;
    --Grid-columnSpacing: 24px;
    --Grid-rowSpacing: 24px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-pack: center;
    justify-content: center;
}

.mui-plzzdb {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 12 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-12k1hg5 {
    margin: 0px 0px 5px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: rgb(16, 15, 97);
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 4px;
}

.mui-qe6dar {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
}

.mui-jemq9z {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: rgba(var(--mui-palette-primary-mainChannel) / 0.4);
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(108, 101, 135);
    display: flex;
    font-size: 0.9em;
    -webkit-box-align: center;
    align-items: center;
}

.mui-jemq9z:hover {
    text-decoration-color: inherit;
}

.mui-jemq9z:hover {
    text-decoration: none;
    font-weight: 700;
}

.mui-12z0wuy {
    margin-right: 8px;
}

.mui-1894tnf {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-main);
    border-radius: 8px;
    text-transform: none;
}

.mui-1894tnf:hover {
    text-decoration: none;
    background-color: rgba(var(--mui-palette-primary-mainChannel) / var(--mui-palette-action-hoverOpacity));
}

.mui-1sj6157 {
    margin: 0px 0px 16px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    font-size: 0.9em;
    color: rgb(108, 101, 135);
}

@media print {
    .mui-1vb5z3z {
        position: absolute;
    }
}

@media (min-width: 600px) {
    .mui-1ekb41w {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1536px) {
    .mui-1ekb41w {
        max-width: 1536px;
    }
}

@media print {
    .mui-1m26cub {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-1u9h33y {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-u9ncm0 {
        padding-left: 40px;
    }
}

@media (max-width: 899.95px) {
    .mui-u9ncm0 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 900px) {
    .mui-1wz6flv {
        padding-left: 40px;
    }
}

@media (max-width: 899.95px) {
    .mui-1wz6flv {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 899.95px) {
    .mui-ainay9 {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-nulyus {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-nulyus {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-1p3gcvk {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

@media print {
    .mui-1kjy5dn {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-1l9q2uy {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 0px) {
    .mui-h3eqc7 {
        display: none;
    }
}

@media (min-width: 900px) {
    .mui-h3eqc7 {
        display: block;
    }
}

@media (max-width: 899.95px) {
    .mui-1fcx95e {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 600px) {
    .mui-1qsxih2 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .mui-1qsxih2 {
        max-width: 1200px;
    }
}

@media (max-width: 899.95px) {
    .mui-1st9khg {
        font-size: 2.125rem;
    }
}

@media (min-width: 600px) {
    .mui-1c0cfyw {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 900px) {
    .mui-1c0cfyw {
        max-width: 900px;
    }
}

@media (max-width: 899.95px) {
    .mui-1dj7mtz {
        font-size: 2.125rem;
    }
}

@media (min-width: 900px) {
    .mui-1tfodct {
        text-align: center;
    }
}

@media (max-width: 899.95px) {
    .mui-1tfodct {
        text-align: justify;
    }
}

@media print {
    .mui-14m19i9 {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-14m19i9 {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-16lgroa {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-17qepj0 {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-16lgroa {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-16lgroa {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 600px) {
    .mui-1c0cfyw {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 900px) {
    .mui-1c0cfyw {
        max-width: 900px;
    }
}

@media (max-width: 899.95px) {
    .mui-1u552ct {
        font-size: 2.125rem;
    }
}

@media print {
    .mui-8rspzv {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-8rspzv {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-bw52vx {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 600px) {
    .mui-1qsxih2 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .mui-1qsxih2 {
        max-width: 1200px;
    }
}

@media (max-width: 899.95px) {
    .mui-14rk56i {
        font-size: 2.125rem;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 600px) {
    .mui-1qsxih2 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .mui-1qsxih2 {
        max-width: 1200px;
    }
}

@media (max-width: 899.95px) {
    .mui-1st9khg {
        font-size: 2.125rem;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 899.95px) {
    .mui-11bdqlm {
        font-size: 0.9rem;
    }
}

@media print {
    .mui-ha489 {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 600px) {
    .mui-1m6pqln {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 600px) {
    .mui-1m6pqln {
        max-width: 600px;
    }
}

@media print {
    .mui-1lm5rby {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-x0xz1e {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 600px) {
    .mui-1qsxih2 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .mui-1qsxih2 {
        max-width: 1200px;
    }
}

@media (min-width: 600px) {
    .mui-plzzdb {
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-basis: auto;
        width: calc(100% * 3 / var(--Grid-columns));
    }
}

@media (min-width: 0px) {
    .mui-12k1hg5 {
        text-align: center;
    }
}

@media (min-width: 600px) {
    .mui-12k1hg5 {
        text-align: initial;
    }
}

@media (min-width: 0px) {
    .mui-qe6dar {
        -webkit-box-align: center;
        align-items: center;
    }
}

@media (min-width: 600px) {
    .mui-qe6dar {
        -webkit-box-align: initial;
        align-items: initial;
    }
}

@media (min-width: 600px) {
    .mui-plzzdb {
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-basis: auto;
        width: calc(100% * 3 / var(--Grid-columns));
    }
}

@media (min-width: 0px) {
    .mui-12k1hg5 {
        text-align: center;
    }
}

@media (min-width: 600px) {
    .mui-12k1hg5 {
        text-align: initial;
    }
}

@media (min-width: 0px) {
    .mui-qe6dar {
        -webkit-box-align: center;
        align-items: center;
    }
}

@media (min-width: 600px) {
    .mui-qe6dar {
        -webkit-box-align: initial;
        align-items: initial;
    }
}

@media (min-width: 600px) {
    .mui-plzzdb {
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-basis: auto;
        width: calc(100% * 3 / var(--Grid-columns));
    }
}

@media (min-width: 0px) {
    .mui-12k1hg5 {
        text-align: center;
    }
}

@media (min-width: 600px) {
    .mui-12k1hg5 {
        text-align: initial;
    }
}

@media (min-width: 0px) {
    .mui-qe6dar {
        -webkit-box-align: center;
        align-items: center;
    }
}

@media (min-width: 600px) {
    .mui-qe6dar {
        -webkit-box-align: initial;
        align-items: initial;
    }
}

@media print {
    .mui-1894tnf {
        -webkit-print-color-adjust: exact;
    }
}