*,
::before,
::after {
    box-sizing: inherit;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

.mui-zitybv {
    margin-top: 32px;
    margin-bottom: 32px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

.mui-zitybv {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mui-pni29q {
    --Grid-columns: 12;
    --Grid-columnSpacing: 32px;
    --Grid-rowSpacing: 32px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.mui-124fws5 {
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-1yioz45 {
    filter: grayscale(0.9);
}

.mui-1yioz45:hover {
    filter: grayscale(0);
}

.mui-1fnny7k {
    height: auto;
    filter: grayscale(0.9);
}

.mui-1fnny7k:hover {
    filter: grayscale(0);
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

.mui-zitybv {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mui-pni29q {
    --Grid-columns: 12;
    --Grid-columnSpacing: 32px;
    --Grid-rowSpacing: 32px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.mui-124fws5 {
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-1yioz45 {
    filter: grayscale(0.9);
}

.mui-1yioz45:hover {
    filter: grayscale(0);
}

.mui-1fnny7k {
    height: auto;
    filter: grayscale(0.9);
}

.mui-1fnny7k:hover {
    filter: grayscale(0);
}

.mui-1m6pqln {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.mui-9dcjpw {
    --Grid-columns: 12;
    --Grid-columnSpacing: 16px;
    --Grid-rowSpacing: 16px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    padding-top: 15vh;
}

.mui-ipi2ni {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 12 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-zgzbkc {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    color: var(--mui-palette-background-default);
}

.mui-18uc1po {
    --Grid-columnsLevel1: var(--Grid-columns);
    --Grid-columnSpacingLevel1: var(--Grid-columnSpacing);
    --Grid-rowSpacingLevel1: var(--Grid-rowSpacing);
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacingLevel1) / -2) calc(var(--Grid-columnSpacingLevel1) / -2);
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-w924zx {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 6 / var(--Grid-columnsLevel1));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacingLevel1) / 2) calc(var(--Grid-columnSpacingLevel1) / 2);
}

.mui-unt0mw {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
    border-radius: 8px;
    background-color: rgb(250, 250, 250);
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mui-1udu1ut {
    color: var(--mui-palette-text-secondary);
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(12px, 16px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;
}

.mui-xfbahv {
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    color: var(--mui-palette-text-primary);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: var(--mui-palette-FilledInput-bg);
    border-top-left-radius: var(--mui-shape-borderRadius);
    border-top-right-radius: var(--mui-shape-borderRadius);
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.mui-xfbahv:hover {
    background-color: var(--mui-palette-FilledInput-hoverBg);
}

.mui-a3ekd5 {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 25px 12px 8px;
}

.mui-a3ekd5:focus {
    outline: 0px;
}

.mui-a3ekd5:invalid {
    box-shadow: none;
}

.mui-1qiq4rk {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 12 / var(--Grid-columnsLevel1));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacingLevel1) / 2) calc(var(--Grid-columnSpacingLevel1) / 2);
}

.mui-2plirp {
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    color: var(--mui-palette-text-primary);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: var(--mui-palette-FilledInput-bg);
    border-top-left-radius: var(--mui-shape-borderRadius);
    border-top-right-radius: var(--mui-shape-borderRadius);
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    padding: 25px 12px 8px;
}

.mui-2plirp:hover {
    background-color: var(--mui-palette-FilledInput-hoverBg);
}

.mui-1vwtfsp {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: auto;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    resize: none;
    padding: 0px;
}

.mui-1vwtfsp:focus {
    outline: 0px;
}

.mui-11iqnnm {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: -8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.mui-1lm5rby {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    padding: 9px;
    border-radius: 50%;
    color: var(--mui-palette-text-secondary);
}

.mui-1lm5rby:hover {
    background-color: transparent;
}

.mui-1m9pwf3 {
    cursor: inherit;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.mui-xmqz8d {
    border-radius: 3px;
    width: 20px;
    height: 20px;
    box-shadow: rgba(16, 22, 26, 0.2) 0px 0px 0px 1px inset, rgba(16, 22, 26, 0.1) 0px -1px 0px inset;
    background-color: rgb(245, 248, 250);
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

input:hover~.mui-xmqz8d {
    background-color: rgb(235, 241, 245);
}

.mui-1tnj6rj {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.75;
    font-size: 0.8rem;
    color: var(--mui-palette-background-default);
}

.mui-1ybqtnk {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 12 / var(--Grid-columnsLevel1));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacingLevel1) / 2) calc(var(--Grid-columnSpacingLevel1) / 2);
    text-align: right;
}

.mui-x0xz1e {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    background-color: var(--mui-palette-primary-main);
    border-radius: 8px;
    text-transform: none;
    box-shadow: none;
    font-weight: 700;
}

.mui-x0xz1e:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-x0xz1e:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-x0xz1e:active {
    box-shadow: none;
}

.mui-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

.mui-zitybv {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mui-pni29q {
    --Grid-columns: 12;
    --Grid-columnSpacing: 32px;
    --Grid-rowSpacing: 32px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.mui-124fws5 {
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-1yioz45 {
    filter: grayscale(0.9);
}

.mui-1yioz45:hover {
    filter: grayscale(0);
}

.mui-1fnny7k {
    height: auto;
    filter: grayscale(0.9);
}

.mui-1fnny7k:hover {
    filter: grayscale(0);
}


.mui-1m6pqln {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.mui-9dcjpw {
    --Grid-columns: 12;
    --Grid-columnSpacing: 16px;
    --Grid-rowSpacing: 16px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    padding-top: 15vh;
}

.mui-ipi2ni {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 12 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-zgzbkc {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    color: var(--mui-palette-background-default);
}

.mui-18uc1po {
    --Grid-columnsLevel1: var(--Grid-columns);
    --Grid-columnSpacingLevel1: var(--Grid-columnSpacing);
    --Grid-rowSpacingLevel1: var(--Grid-rowSpacing);
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacingLevel1) / -2) calc(var(--Grid-columnSpacingLevel1) / -2);
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-w924zx {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 6 / var(--Grid-columnsLevel1));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacingLevel1) / 2) calc(var(--Grid-columnSpacingLevel1) / 2);
}

.mui-unt0mw {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
    border-radius: 8px;
    background-color: rgb(250, 250, 250);
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mui-1udu1ut {
    color: var(--mui-palette-text-secondary);
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(12px, 16px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;
}

.mui-xfbahv {
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    color: var(--mui-palette-text-primary);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: var(--mui-palette-FilledInput-bg);
    border-top-left-radius: var(--mui-shape-borderRadius);
    border-top-right-radius: var(--mui-shape-borderRadius);
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.mui-xfbahv:hover {
    background-color: var(--mui-palette-FilledInput-hoverBg);
}

.mui-a3ekd5 {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 25px 12px 8px;
}

.mui-a3ekd5:focus {
    outline: 0px;
}

.mui-a3ekd5:invalid {
    box-shadow: none;
}

.mui-1qiq4rk {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 12 / var(--Grid-columnsLevel1));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacingLevel1) / 2) calc(var(--Grid-columnSpacingLevel1) / 2);
}

.mui-2plirp {
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    color: var(--mui-palette-text-primary);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: var(--mui-palette-FilledInput-bg);
    border-top-left-radius: var(--mui-shape-borderRadius);
    border-top-right-radius: var(--mui-shape-borderRadius);
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    padding: 25px 12px 8px;
}

.mui-2plirp:hover {
    background-color: var(--mui-palette-FilledInput-hoverBg);
}

.mui-1vwtfsp {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: auto;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    resize: none;
    padding: 0px;
}

.mui-1vwtfsp:focus {
    outline: 0px;
}

.mui-11iqnnm {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: -8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.mui-1lm5rby {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    padding: 9px;
    border-radius: 50%;
    color: var(--mui-palette-text-secondary);
}

.mui-1lm5rby:hover {
    background-color: transparent;
}

.mui-1m9pwf3 {
    cursor: inherit;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.mui-xmqz8d {
    border-radius: 3px;
    width: 20px;
    height: 20px;
    box-shadow: rgba(16, 22, 26, 0.2) 0px 0px 0px 1px inset, rgba(16, 22, 26, 0.1) 0px -1px 0px inset;
    background-color: rgb(245, 248, 250);
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

input:hover~.mui-xmqz8d {
    background-color: rgb(235, 241, 245);
}

.mui-1tnj6rj {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.75;
    font-size: 0.8rem;
    color: var(--mui-palette-background-default);
}

.mui-1ybqtnk {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 12 / var(--Grid-columnsLevel1));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacingLevel1) / 2) calc(var(--Grid-columnSpacingLevel1) / 2);
    text-align: right;
}

.mui-x0xz1e {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    background-color: var(--mui-palette-primary-main);
    border-radius: 8px;
    text-transform: none;
    box-shadow: none;
    font-weight: 700;
}

.mui-x0xz1e:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-x0xz1e:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-x0xz1e:active {
    box-shadow: none;
}

.mui-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.mui-1qsxih2 {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.mui-oqml47 {
    --Grid-columns: 12;
    --Grid-columnSpacing: 24px;
    --Grid-rowSpacing: 24px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-pack: center;
    justify-content: center;
}

.mui-rj9owb {
    margin: 0px;
    font: inherit;
    color: var(--mui-palette-primary-main);
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: rgba(var(--mui-palette-primary-mainChannel) / 0.4);
}

.mui-rj9owb:hover {
    text-decoration-color: inherit;
}

.mui-1hoyqw5 {
    flex-basis: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-plzzdb {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 12 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-12k1hg5 {
    margin: 0px 0px 5px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: rgb(16, 15, 97);
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 4px;
}

.mui-qe6dar {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
}

.mui-jemq9z {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: rgba(var(--mui-palette-primary-mainChannel) / 0.4);
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(108, 101, 135);
    display: flex;
    font-size: 0.9em;
    -webkit-box-align: center;
    align-items: center;
}

.mui-jemq9z:hover {
    text-decoration-color: inherit;
}

.mui-jemq9z:hover {
    text-decoration: none;
    font-weight: 700;
}

.mui-12z0wuy {
    margin-right: 8px;
}

.mui-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.mui-1yuhvjn {
    margin-top: 16px;
}

.mui-1894tnf {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-main);
    border-radius: 8px;
    text-transform: none;
}

.mui-1894tnf:hover {
    text-decoration: none;
    background-color: rgba(var(--mui-palette-primary-mainChannel) / var(--mui-palette-action-hoverOpacity));
}

.mui-1sj6157 {
    margin: 0px 0px 16px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    font-size: 0.9em;
    color: rgb(108, 101, 135);
}

@media (min-width: 600px) {
    .mui-1m6pqln {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 600px) {
    .mui-1m6pqln {
        max-width: 600px;
    }
}

@media print {
    .mui-1lm5rby {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-x0xz1e {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 600px) {
    .mui-1m6pqln {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 600px) {
    .mui-1m6pqln {
        max-width: 600px;
    }
}

@media print {
    .mui-1lm5rby {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-x0xz1e {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 600px) {
    .mui-1qsxih2 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .mui-1qsxih2 {
        max-width: 1200px;
    }
}

@media (min-width: 600px) {
    .mui-plzzdb {
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-basis: auto;
        width: calc(100% * 3 / var(--Grid-columns));
    }
}

@media (min-width: 0px) {
    .mui-12k1hg5 {
        text-align: center;
    }
}

@media (min-width: 600px) {
    .mui-12k1hg5 {
        text-align: initial;
    }
}

@media (min-width: 0px) {
    .mui-qe6dar {
        -webkit-box-align: center;
        align-items: center;
    }
}

@media (min-width: 600px) {
    .mui-qe6dar {
        -webkit-box-align: initial;
        align-items: initial;
    }
}

@media (min-width: 600px) {
    .mui-plzzdb {
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-basis: auto;
        width: calc(100% * 3 / var(--Grid-columns));
    }
}

@media (min-width: 0px) {
    .mui-12k1hg5 {
        text-align: center;
    }
}

@media (min-width: 600px) {
    .mui-12k1hg5 {
        text-align: initial;
    }
}

@media (min-width: 0px) {
    .mui-qe6dar {
        -webkit-box-align: center;
        align-items: center;
    }
}

@media (min-width: 600px) {
    .mui-qe6dar {
        -webkit-box-align: initial;
        align-items: initial;
    }
}

@media (min-width: 600px) {
    .mui-plzzdb {
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-basis: auto;
        width: calc(100% * 3 / var(--Grid-columns));
    }
}

@media (min-width: 0px) {
    .mui-12k1hg5 {
        text-align: center;
    }
}

@media (min-width: 600px) {
    .mui-12k1hg5 {
        text-align: initial;
    }
}

@media (min-width: 0px) {
    .mui-qe6dar {
        -webkit-box-align: center;
        align-items: center;
    }
}

@media (min-width: 600px) {
    .mui-qe6dar {
        -webkit-box-align: initial;
        align-items: initial;
    }
}

@media print {
    .mui-1894tnf {
        -webkit-print-color-adjust: exact;
    }
}