*,
::before,
::after {
    box-sizing: inherit;
}

.mui-1qsxih2 {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.mui-130jr3z {
    padding-top: 80px;
}

.mui-1st9khg {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    color: rgb(16, 15, 97);
    text-align: center;
}

.mui-kin4td {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}

.mui-5d75os {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 400px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.mui-1b9rfpx {
    height: 250px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.mui-u2y8vh {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
}

.mui-1nxule9 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: rgb(129, 129, 129);
}

.mui-rj9owb {
    margin: 0px;
    font: inherit;
    color: var(--mui-palette-primary-main);
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: rgba(var(--mui-palette-primary-mainChannel) / 0.4);
}

.mui-rj9owb:hover {
    text-decoration-color: inherit;
}

@media (min-width: 600px) {
    .mui-1qsxih2 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .mui-1qsxih2 {
        max-width: 1200px;
    }
}

@media (max-width: 899.95px) {
    .mui-1st9khg {
        font-size: 2.125rem;
    }
}