*,
::before,
::after {
    box-sizing: inherit;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-ib9iq6 {
    margin-top: 80px;
}

.mui-u9ncm0 {
    display: flex;
}

.mui-1wz6flv {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mui-ainay9 {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-size: 3rem;
    line-height: 1.167;
    color: rgb(16, 15, 97);
    font-weight: 700;
}

strong,
b {
    font-weight: 700;
}

.mui-nulyus {
    color: rgb(90, 24, 215);
}

.mui-13etf96 {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(129, 129, 129);
}

.mui-11um2kn {
    color: rgb(16, 15, 97);
}

.mui-5vb4lz {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mui-v3ljsi {
    --Grid-columns: 12;
    --Grid-columnSpacing: 16px;
    --Grid-rowSpacing: 16px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-align: center;
    align-items: center;
    padding-top: 2px;
    padding-left: 20px;
}

.mui-1h0rs5z {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 1 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-1m5n09e {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 11 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-6w8yb6 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: rgb(129, 129, 129);
}

.mui-1p3gcvk {
    margin-top: 40px;
    display: flex;
}

.mui-1at62qq {
    margin-left: 16px;
    margin-right: 16px;
}

.mui-1kjy5dn {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    border-radius: 8px;
    box-shadow: none;
    font-weight: 700;
    text-transform: none;
    background-color: rgb(167, 115, 254);
    font-size: 1.1rem;
    border: none;
}

.mui-1kjy5dn:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-1kjy5dn:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-1kjy5dn:active {
    box-shadow: none;
}

.mui-1kjy5dn:hover {
    background-color: rgb(123, 70, 223);
    border: none;
}

.mui-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.mui-1l9q2uy {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    background-color: var(--mui-palette-primary-main);
    border-radius: 8px;
    box-shadow: none;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: none;
}

.mui-1l9q2uy:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-1l9q2uy:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-1l9q2uy:active {
    box-shadow: none;
}

.mui-1l9q2uy:hover {
    box-shadow: none;
}

.mui-h3eqc7 {
    min-width: 570px;
}

@media (min-width: 900px) {
    .mui-u9ncm0 {
        padding-left: 40px;
    }
}

@media (max-width: 899.95px) {
    .mui-u9ncm0 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 900px) {
    .mui-1wz6flv {
        padding-left: 40px;
    }
}

@media (max-width: 899.95px) {
    .mui-1wz6flv {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 899.95px) {
    .mui-ainay9 {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-nulyus {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-nulyus {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-1p3gcvk {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

@media print {
    .mui-1kjy5dn {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-1l9q2uy {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 0px) {
    .mui-h3eqc7 {
        display: none;
    }
}

@media (min-width: 900px) {
    .mui-h3eqc7 {
        display: block;
    }
}

*,
::before,
::after {
    box-sizing: inherit;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-ib9iq6 {
    margin-top: 80px;
}

.mui-u9ncm0 {
    display: flex;
}

.mui-1wz6flv {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mui-ainay9 {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-size: 3rem;
    line-height: 1.167;
    color: rgb(16, 15, 97);
    font-weight: 700;
}

strong,
b {
    font-weight: 700;
}

.mui-nulyus {
    color: rgb(90, 24, 215);
}

.mui-13etf96 {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(129, 129, 129);
}

.mui-11um2kn {
    color: rgb(16, 15, 97);
}

.mui-5vb4lz {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mui-v3ljsi {
    --Grid-columns: 12;
    --Grid-columnSpacing: 16px;
    --Grid-rowSpacing: 16px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-align: center;
    align-items: center;
    padding-top: 2px;
    padding-left: 20px;
}

.mui-1h0rs5z {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 1 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-1m5n09e {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 11 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-6w8yb6 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: rgb(129, 129, 129);
}

.mui-1p3gcvk {
    margin-top: 40px;
    display: flex;
}

.mui-1at62qq {
    margin-left: 16px;
    margin-right: 16px;
}

.mui-1kjy5dn {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    border-radius: 8px;
    box-shadow: none;
    font-weight: 700;
    text-transform: none;
    background-color: rgb(167, 115, 254);
    font-size: 1.1rem;
    border: none;
}

.mui-1kjy5dn:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-1kjy5dn:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-1kjy5dn:active {
    box-shadow: none;
}

.mui-1kjy5dn:hover {
    background-color: rgb(123, 70, 223);
    border: none;
}

.mui-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.mui-1l9q2uy {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    background-color: var(--mui-palette-primary-main);
    border-radius: 8px;
    box-shadow: none;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: none;
}

.mui-1l9q2uy:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-1l9q2uy:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-1l9q2uy:active {
    box-shadow: none;
}

.mui-1l9q2uy:hover {
    box-shadow: none;
}

.mui-h3eqc7 {
    min-width: 570px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-ib9iq6 {
    margin-top: 80px;
}

.mui-u9ncm0 {
    display: flex;
}

.mui-1wz6flv {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mui-ainay9 {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-size: 3rem;
    line-height: 1.167;
    color: rgb(16, 15, 97);
    font-weight: 700;
}

strong,
b {
    font-weight: 700;
}

.mui-nulyus {
    color: rgb(90, 24, 215);
}

.mui-13etf96 {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(129, 129, 129);
}

.mui-11um2kn {
    color: rgb(16, 15, 97);
}

.mui-5vb4lz {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mui-v3ljsi {
    --Grid-columns: 12;
    --Grid-columnSpacing: 16px;
    --Grid-rowSpacing: 16px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-align: center;
    align-items: center;
    padding-top: 2px;
    padding-left: 20px;
}

.mui-1h0rs5z {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 1 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-1m5n09e {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 11 / var(--Grid-columns));
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-6w8yb6 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: rgb(129, 129, 129);
}

.mui-1p3gcvk {
    margin-top: 40px;
    display: flex;
}

.mui-1at62qq {
    margin-left: 16px;
    margin-right: 16px;
}

.mui-1kjy5dn {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    border-radius: 8px;
    box-shadow: none;
    font-weight: 700;
    text-transform: none;
    background-color: rgb(167, 115, 254);
    font-size: 1.1rem;
    border: none;
}

.mui-1kjy5dn:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-1kjy5dn:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-1kjy5dn:active {
    box-shadow: none;
}

.mui-1kjy5dn:hover {
    background-color: rgb(123, 70, 223);
    border: none;
}

.mui-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.mui-1l9q2uy {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--mui-palette-primary-contrastText);
    background-color: var(--mui-palette-primary-main);
    border-radius: 8px;
    box-shadow: none;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: none;
}

.mui-1l9q2uy:hover {
    text-decoration: none;
    background-color: var(--mui-palette-primary-dark);
    box-shadow: var(--mui-shadows-4);
}

.mui-1l9q2uy:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-1l9q2uy:active {
    box-shadow: none;
}

.mui-1l9q2uy:hover {
    box-shadow: none;
}

.mui-h3eqc7 {
    min-width: 570px;
}

.mui-1459dl {
    padding-top: 24px;
    padding-bottom: 24px;
}

@media (min-width: 900px) {
    .mui-u9ncm0 {
        padding-left: 40px;
    }
}

@media (max-width: 899.95px) {
    .mui-u9ncm0 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 900px) {
    .mui-1wz6flv {
        padding-left: 40px;
    }
}

@media (max-width: 899.95px) {
    .mui-1wz6flv {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 899.95px) {
    .mui-ainay9 {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-nulyus {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-nulyus {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-1p3gcvk {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

@media print {
    .mui-1kjy5dn {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-1l9q2uy {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 0px) {
    .mui-h3eqc7 {
        display: none;
    }
}

@media (min-width: 900px) {
    .mui-h3eqc7 {
        display: block;
    }
}

@media (min-width: 900px) {
    .mui-u9ncm0 {
        padding-left: 40px;
    }
}

@media (max-width: 899.95px) {
    .mui-u9ncm0 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 900px) {
    .mui-1wz6flv {
        padding-left: 40px;
    }
}

@media (max-width: 899.95px) {
    .mui-1wz6flv {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 899.95px) {
    .mui-ainay9 {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-nulyus {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-nulyus {
        font-size: 2.125rem;
    }
}

@media (max-width: 899.95px) {
    .mui-1p3gcvk {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

@media print {
    .mui-1kjy5dn {
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .mui-1l9q2uy {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 0px) {
    .mui-h3eqc7 {
        display: none;
    }
}

@media (min-width: 900px) {
    .mui-h3eqc7 {
        display: block;
    }
}