*,
::before,
::after {
    box-sizing: inherit;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

.mui-zitybv {
    margin-top: 32px;
    margin-bottom: 32px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

.mui-zitybv {
    margin-top: 32px;
    margin-bottom: 32px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-180p037 {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(16, 15, 97);
    text-align: center;
    letter-spacing: 3px;
}

.mui-zitybv {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mui-pni29q {
    --Grid-columns: 12;
    --Grid-columnSpacing: 32px;
    --Grid-rowSpacing: 32px;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.mui-124fws5 {
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.mui-1yioz45 {
    filter: grayscale(0.9);
}

.mui-1yioz45:hover {
    filter: grayscale(0);
}

.mui-1fnny7k {
    height: auto;
    filter: grayscale(0.9);
}

.mui-1fnny7k:hover {
    filter: grayscale(0);
}