*,
::before,
::after {
    box-sizing: inherit;
}

.mui-1qsxih2 {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.mui-jhpiyy {
    padding: 80px 40px 40px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.mui-14rk56i {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    color: rgb(16, 15, 97);
    text-align: center;
    padding-bottom: 30px;
}

.mui-1y7ex7n {
    overflow: hidden;
    min-height: 48px;
    display: flex;
    font-weight: bold;
    width: 100%;
}

.mui-18jpbi7 {
    position: relative;
    display: inline-block;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow-x: hidden;
    width: 100%;
}

.mui-7sga7m {
    display: flex;
}

.mui-1q5c5id {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.25;
    max-width: none;
    position: relative;
    min-height: 48px;
    flex: 1 1 0px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    flex-direction: column;
    color: var(--mui-palette-text-secondary);
    -webkit-box-flex: 1;
    text-transform: none;
    min-width: 0px;
    font-size: 16px;
    padding: 8px;
    letter-spacing: 0.2em;
}

.mui-1q5c5id.Mui-selected {
    color: var(--mui-palette-primary-main);
}

.mui-1q5c5id.Mui-selected {
    font-weight: bold;
}

.mui-vqkcvs {
    position: absolute;
    bottom: 0px;
    width: 100%;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: var(--mui-palette-primary-main);
    height: 2px;
    border-radius: 7px;
}

.mui-14c1bos {
    margin: -2px 0px 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: var(--mui-palette-divider);
    width: 100%;
    height: 2px;
    border-radius: 5px;
}

.mui-5vb4lz {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mui-1l4w6pd {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.mui-1qryofl {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: rgb(129, 129, 129);
    text-align: center;
}

.mui-1yuhvjn {
    margin-top: 16px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.mui-1qsxih2 {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.mui-jhpiyy {
    padding: 80px 40px 40px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.mui-14rk56i {
    margin: 0px 0px 0.35em;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    color: rgb(16, 15, 97);
    text-align: center;
    padding-bottom: 30px;
}

.mui-1y7ex7n {
    overflow: hidden;
    min-height: 48px;
    display: flex;
    font-weight: bold;
    width: 100%;
}

.mui-18jpbi7 {
    position: relative;
    display: inline-block;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow-x: hidden;
    width: 100%;
}

.mui-7sga7m {
    display: flex;
}

.mui-1q5c5id {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.25;
    max-width: none;
    position: relative;
    min-height: 48px;
    flex: 1 1 0px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    flex-direction: column;
    color: var(--mui-palette-text-secondary);
    -webkit-box-flex: 1;
    text-transform: none;
    min-width: 0px;
    font-size: 16px;
    padding: 8px;
    letter-spacing: 0.2em;
}

.mui-1q5c5id.Mui-selected {
    color: var(--mui-palette-primary-main);
}

.mui-1q5c5id.Mui-selected {
    font-weight: bold;
}

.mui-vqkcvs {
    position: absolute;
    bottom: 0px;
    width: 100%;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: var(--mui-palette-primary-main);
    height: 2px;
    border-radius: 7px;
}

.mui-14c1bos {
    margin: -2px 0px 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: var(--mui-palette-divider);
    width: 100%;
    height: 2px;
    border-radius: 5px;
}

.mui-5vb4lz {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mui-1l4w6pd {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.mui-1qryofl {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: rgb(129, 129, 129);
    text-align: center;
}

.mui-1yuhvjn {
    margin-top: 16px;
}

.mui-3thk76 {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 80px;
}

.mui-1st9khg {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    color: rgb(16, 15, 97);
    text-align: center;
}

.mui-1vmhh01 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.mui-1ebprri {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mui-1mfn5mn {
    height: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 4px 4px 8px;
    border-radius: 9px;
    width: 350px;
}

.mui-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.mui-n085mf {
    padding-left: 16px;
}

.mui-170ssnn {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
}

.mui-1xx2ofw {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
}

.mui-90nejt {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.mui-11bdqlm {
    margin: 0px;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(129, 129, 129);
    text-align: center;
}

strong,
b {
    font-weight: 700;
}

.mui-11um2kn {
    color: rgb(16, 15, 97);
}

.mui-yg2p1p {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.mui-ha489 {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Nunito_Sans_233459, __Nunito_Sans_Fallback_233459, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #5a18d7;
    border-radius: 8px;
    box-shadow: none;
    color: rgb(250, 250, 250);
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: none;
}

.mui-ha489:hover {
    text-decoration: none;
    background-color: #3e1096;
    box-shadow: var(--mui-shadows-4);
}

.mui-ha489:active {
    box-shadow: var(--mui-shadows-8);
}

.mui-ha489:active {
    box-shadow: none;
}

.mui-ha489:hover {
    box-shadow: none;
}

.mui-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

@media (min-width: 600px) {
    .mui-1qsxih2 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .mui-1qsxih2 {
        max-width: 1200px;
    }
}

@media (max-width: 899.95px) {
    .mui-14rk56i {
        font-size: 2.125rem;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 600px) {
    .mui-1qsxih2 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .mui-1qsxih2 {
        max-width: 1200px;
    }
}

@media (max-width: 899.95px) {
    .mui-14rk56i {
        font-size: 2.125rem;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media print {
    .mui-1q5c5id {
        -webkit-print-color-adjust: exact;
    }
}

@media (min-width: 900px) {
    .mui-1q5c5id {
        min-width: 0px;
        padding: 8px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 900px) {
    .mui-moy5on {
        min-height: 490px;
    }
}

@media (max-width: 899.95px) {
    .mui-moy5on {
        min-height: 200px;
    }
}

@media (min-width: 600px) {
    .mui-1qsxih2 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .mui-1qsxih2 {
        max-width: 1200px;
    }
}

@media (max-width: 899.95px) {
    .mui-1st9khg {
        font-size: 2.125rem;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 599.95px) {
    .mui-1mfn5mn {
        width: 90vw;
    }
}

@media (max-width: 899.95px) {
    .mui-11bdqlm {
        font-size: 0.9rem;
    }
}

@media print {
    .mui-ha489 {
        -webkit-print-color-adjust: exact;
    }
}